.nagyVbox{
    -fx-background-image: url("bg1.png");
}

.koszones{
    -fx-text-fill: white;
    -fx-background-color: black;
}

.gridpane{
    -fx-background-image: url("bg1.png");
}

.belepes{
    -fx-text-fill: white;
    -fx-background-color: black;
}

.gomb{
    -fx-text-fill: white;
    -fx-background-color: black;
}